<div class="container">
  <div class="row top-100">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Sign Up</span>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

              <div class="input-field">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="input-field">
                <%= f.label :password %>
                <% if @validatable %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="input-field">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>

            <div class="card-action">
              <button class="waves-effect waves-light btn light-blue accent-4" name="commit" value="Sign up" type="submit">Sign Up</button>
              <div class="right">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
