<%= form_for @invoice do |f| -%>
  <div class="row">
    <div class="col s12">
      <div class="card" style="overflow: inherit">
        <div class="card-content">
          <div class="row">
            <div class="col s12">
              <span class="card-title">
                <%- if @invoice.id -%>
                  Client and Project
                <%- else -%>
                  Select Client and Project
                <%- end -%>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="input-field clients col s6">
              <%- if @invoice.id -%>
                <%= select_tag 'invoice[to_org_id]', options_for_select([[@invoice.to_org.name, @invoice.to_org.id]], @invoice.to_org.id), class: 'client_id' -%>
              <%- else -%>
                <label for="">Clients</label><br/>
                <%- clients = current_account.user.organization.clients.pluck(:name, :id) -%>
                <%- if @organization -%>
                  <%- select = @organization.id -%>
                <%- else -%>
                  <%- select = clients[0][1] -%>
                <%- end -%>
                <%= select_tag 'invoice[to_org_id]', options_for_select(clients, select), class: 'client_id' -%>
              <%- end -%>
            </div>
            <div class="input-field projects col s6">
              <label for="projects">Projects</label><br/>
              <select name="invoice[project_id]" id="projects">
                <%- if @invoice.id -%>
                  <option value="<%= @invoice.project.id -%>"><%= @invoice.project.name -%></option>
                <%- end -%>
              </select>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12">
              <span class="card-title">Invoice Details</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <label for="identifier">Identifier</label>
              <input type="text" id="indentifier" name="invoice[identifier]" class="" value="<%= @invoice.identifier if @invoice.id -%>"/>
            </div>
            <div class="input-field col s4">
              <label for="invoice_date">Invoice Date</label>
              <input type="date" id="invoice_date" name="invoice[date]" class="datepicker">
            </div>
            <div class="input-field col s4">
              <label for="due_date">Due Date</label>
              <input type="date" id="due_date" name="invoice[due_date]" class="datepicker">
            </div>
            <div class="input-field col s12">
              <label for="notes">Notes</label>
              <textarea name="invoice[notes]" id="notes" rows="4" class="materialize-textarea"><%= @invoice.notes if @invoice.id -%></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title" style="width: 20%;display: inline-block;">Line Items</span> <button class="btn right" style="margin-top: 15px" type="button" id="new-item">Add Another Item</button>
        </div>
        <%- if @invoice.id -%>
          <%- @invoice.line_items.each do |item| -%>
            <div class="card-content line-items-set">
              <div class="row line-item">
                <input type="hidden" name="invoice[line_items_attributes][][id]" value="<%= item.id -%>"/>
                <div class="input-field col s2">
                  <label for="item">Item</label>
                  <input type="text" id="item" name="invoice[line_items_attributes][][item]" class="" value="<%= item.item -%>"/>
                </div>
                <div class="input-field col s2">
                  <label for="amount">Amount</label>
                  <input type="text" id="amount" name="invoice[line_items_attributes][][amount]" class="" value="<%= item.amount -%>"/>
                </div>
                <div class="input-field col s7">
                  <label for="description">Description</label>
                  <input type="text" id="description" name="invoice[line_items_attributes][][description]" class="" value="<%= item.description -%>"/>
                </div>
                <div class="col s1">
                  <span class="glyphicon glyphicon-remove-circle" id="remove-item" style="font-size: 24px;margin-top: 22px"></span>
                </div>
              </div>
            </div>
          <%- end -%>
        <%- else -%>
          <div class="card-content line-items-set">
            <div class="row line-item">
              <div class="input-field col s2">
                <label for="item">Item</label><br/>
                <input type="text" id="item" name="invoice[line_items_attributes][][item]" class=""/>
              </div>
              <div class="input-field col s2">
                <label for="amount">Amount</label><br/>
                <input type="text" id="amount" name="invoice[line_items_attributes][][amount]" class=""/>
              </div>
              <div class="input-field col s7">
                <label for="description">Description</label><br/>
                <input type="text" id="description" name="invoice[line_items_attributes][][description]" class=""/>
              </div>
              <div class="col s1">
                <span class="glyphicon glyphicon-remove-circle" id="remove-item" style="font-size: 24px;margin-top: 22px"></span>
              </div>
            </div>
          </div>
        <%- end -%>
      </div>
    </div>
  </div>
  <div class="row bottom-100">
    <input type="submit" value="<%= @invoice.id ? 'Edit Invoice' : 'Create Invoice' -%>" class="btn btn-primary btn-lg"/>
  </div>

<%- end -%>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#invoice_to_org_id').material_select();
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
  });
</script>