<%- @page_title = 'Invoices' -%>
<div class="container">
  <div class="row">
    <table class="hoverable">
      <thead>
      <tr>
        <th>Organization</th>
        <th>Project</th>
        <th>Project Id</th>
        <th>Invoice Id</th>
        <th>Date</th>
        <th>Due Date</th>
        <th>Total Amount</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%- @invoices.each do |invoice| -%>
        <tr data-link="<%= invoice_path(invoice) -%>" style="cursor: pointer">
          <td></td>
          <td><%= invoice.project.name -%></td>
          <td><%= invoice.project.identifier -%></td>
          <td><%= invoice.identifier -%></td>
          <td><%= invoice.date.strftime('%D') -%></td>
          <td><%= invoice.due_date.strftime('%D') -%></td>
          <td><%= number_to_currency(invoice.line_items.sum(:amount)) -%></td>
          <td>
            <div class="btn-group pull-right">
              <%= link_to 'Edit', edit_invoice_path(invoice), class: 'rpad-10' -%>
              <%= link_to '', invoice_path(invoice), method: :delete, data: {confirm: 'Are you sure'}, class: 'mdi-action-delete' -%>
            </div>
          </td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  </div>
</div>