<%- @page_title = 'Manage Users' -%>

<div class="container">
  <div class="row">
    <div class="col s12">
      <button type="button" class="btn modal-trigger" data-toggle="modal" data-target="inviteUser">Invite New User</button>
      <table class="hoverable">
        <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
          <th>Organization</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%- @users.each do |user| -%>
          <tr data-link="<%= user_path(user) -%>" style="cursor: pointer">
            <td><%= user.first_name.titlecase -%> <%= user.last_name.titlecase -%></td>
            <td><%= 'manager' if user.account.has_role? :manager, current_account.user.organization -%></td>
            <td><%= user.account.email -%></td>
            <td><%= user.organization.name -%></td>
            <td>
              <%- unless current_account.user == user -%>
              <div class="btn-group">
                <%= link_to 'Make Manager', make_user_manager_path(user), method: :post, class: 'rpad-10', style: 'text-decoration: underline;' -%>
                <%= link_to '', user_path(user), method: :delete, confirm: 'Are you sure?', class: 'mdi-action-delete' -%>
              </div>
              <%- end -%>
            </td>
          </tr>
        <%- end -%>
        </tbody>
      </table>
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
<%= render 'invite_user_to_organization' -%>