<%- @page_title = 'User Information' -%>

<div class="container">
  <div class="row">
    <div class="col s12">

      <div class="card">
        <div class="card-content">
          <span class="card-title">Details</span>
          <div class="row">
            <p class="col s6"><strong>Name:</strong> <%= @user.first_name -%> <%= @user.last_name -%></p>
            <p class="col s6"><strong>Role:</strong> <%= @user.account.has_role?(:manager, current_account.user.organization) ? 'Manager' : 'Employee' -%></p>
          </div>
          <div class="row">
            <p class="col s6"><strong>Email:</strong> <%= @user.account.email -%></p>
            <p class="col s6"><strong>Temp Password:</strong> <%= Invite.find_by_email(@user.account.email).identifier[0, 10] -%></p>
          </div>
        </div>
      </div>

    </div>
    <div class="col s12">

      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s8">
              <span class="card-title col s8">Projects</span>
            </div>
            <div class="col s4">
              <button type="button" class="waves-effect waves-light btn modal-trigger right" data-target="addUserToProject">Select Projects</button>
            </div>
          </div>

          <table class="table">
            <thead>
            <tr>
              <th>Project Name</th>
              <th>Project #</th>
              <th>Organizations</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <%- @projects.each do |project| -%>
              <tr>
                <td><%= project.name -%></td>
                <td><%= project.identifier -%></td>
                <td><%= project.organizations.pluck(:name).to_a.join(' | ') -%></td>
                <td>
                  <%= link_to 'Remove From Project', remove_user_from_project_path(@user, project), method: :post, class: '' -%>
                </td>
              </tr>
            <%- end -%>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
<%= render 'add_user_to_project_modal' -%>