<div class="row">
  <div class="col s6">
    <h3>Client</h3>
    <%- @organization.clients.each do |client| -%>
      <p>
        <input id="client<%= client.id -%>" class="with-gap" type="radio" name="org[clients][]" value="<%= client.id -%>">
        <label for="client<%= client.id -%>"><%= client.name -%></label>
      </p>
    <%- end -%>
  </div>
  <div class="col s6">
    <h3>Vendors</h3>
    <%- @organization.vendors.each do |vendor| -%>
      <p>
        <input id="vendor<%= vendor.id -%>" type="checkbox" name="org[vendors][]" value="<%= vendor.id -%>">
        <label for="vendor<%= vendor.id -%>"><%= vendor.name -%></label>
      </p>
    <%- end -%>
  </div>
</div>
