<%- @page_title = "Projects for #{@organization.name}" -%>
<div class="container">
  <div class="row">
    <div class="col s3 offset-s9">
      <%= link_to 'New Project', new_project_without_org_path, class: 'btn btn-primary pull-right', style: 'margin-top: 21px' -%>
    </div>
  </div>
  <div class="row">
    <table class="hoverable">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Id</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%- @projects.each_with_index do |project, index| -%>
        <tr data-link="<%= organization_project_path(@organization, project) -%>" style="cursor: pointer">
          <td><%= index + 1 -%></td>
          <td><%= project.name.titlecase -%></td>
          <td><%= project.identifier -%></td>
          <td><%= project.start_date.strftime('%D') -%></td>
          <td><%= project.end_date.strftime('%D') -%></td>
          <td>
            <div class="btn-group pull-right">
              <%= link_to 'Edit', edit_organization_project_path(@organization, project) -%>
              <%= link_to '', organization_project_path(@organization, project), method: :delete, data: {confirm: 'Are you sure?'}, class: 'mdi-action-delete' -%>
            </div>
          </td>
        </tr>
      <%- end -%>
      <%- if @projects.empty? -%>
        <tr>
          <td colspan="4" class="text-center">None</td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  </div>
</div>