<!-- Modal Structure -->
<div id="addToProjectModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <h4 class="modal-title left">Add <%= @kind.titlecase -%> to a Project</h4>
        <a class="mdi-navigation-close modal-close right grey-text text-darken-4"></a>
      </div>
    </div>
    <%= form_tag add_org_to_project_path do -%>
      <div class="row">
        <div class="col s12">
          <div class="input-field">
            <%= select_tag :project_id, options_for_select(current_account.user.organization.owned_projects.load.pluck(:name, :id)) -%>
            <label for="">Pick a Project</label>
          </div>
          <input type="hidden" name="id" value="<%= @organization.id -%>"/>
          <input type="hidden" name="kind" value="<%= @kind -%>"/>
        </div>
      </div>
      <div class="modal-footer left">
        <button type="submit" class="btn">Ok</button>
      </div>
    <%- end -%>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.modal-trigger').leanModal();
    $('select').material_select();
  });
</script>
