<%- @page_title = @organization.id ?  "Edit #{@kind.titlecase}" : "New #{@kind.titlecase}" -%>
<div class="container">
  <%= form_for(@organization) do |f| %>
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content">

          <% if @organization.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>
              <ul>
                <% @organization.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                <%- if @address -%>
                  <% @address.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                <%- end -%>
                <%- if @phone -%>
                  <% @phone.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                <%- end -%>
              </ul>
            </div>
          <% end %>
          <input type="hidden" name="partner_type" value="<%= @kind -%>"/>

          <div class="row">
            <h4><%= @kind.titlecase -%> Name</h4>
            <div class="input-field col s12">
              <label for="name"><%= @kind.titlecase -%> Name</label>
              <input type="text" id="name" name="org[name]" class="form-control" value="<%= @organization.name if @organization.name -%>"/>
            </div>
          </div>
          <div class="row">
            <%- phone = @organization.phones[0] if @organization.phones -%>
            <%- phone = @phone if @phone -%>
            <h4>Phone</h4>
            <div class="input-field col s12">
              <label for="phone">Phone Number</label>
              <input type="tel" id="phone" name="phone[phone_number]"  class="form-control" value="<%= phone.phone_number if phone -%>"/>
            </div>
          </div>
          <div class="row">
            <%- address = @organization.addresses[0] if @organization.addresses -%>
            <%- address = @address if @address -%>
            <h4>Address</h4>
            <div class="input-field col s12">
              <label for="street_address">Street Address</label>
              <input type="text" id="street_address" name="address[street_address]" class="form-control" value="<%= address.street_address if address -%>"/>
            </div>
            <div class="input-field col s12">
              <label for="street_address2">Street Address 2</label>
              <input type="text" id="street_address2" name="address[street_address2]" class="form-control" value="<%= address.street_address2 if address -%>"/>
            </div>
            <div class="input-field col s5">
              <label for="city">City</label><br/>
              <input type="text" id="city" name="address[city]" class="form-control" value="<%= address.city if address -%>"/>
            </div>
            <div class="input-field col s2">
              <label for="state">State</label><br/>
              <input type="text" id="state" name="address[state]" class="form-control state-field" value="<%= address.state if address -%>"/>
            </div>
            <div class="input-field col s5">
              <label for="zip">Zipcode</label><br/>
              <input type="text" id="zip" name="address[zip]" class="form-control" value="<%= address.zip if address -%>"/>
            </div>

            <div class="card-action">
              <button type="submit" class="btn waves-effect waves-light">Create New <%= @kind.titlecase -%></button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>