<div class="container">
  <%= link_to '< Back', organizations_path %> | <%= link_to "Show this #{@kind.titlecase}", @organization %>
</div>

<%= render 'form' %>

<%= link_to 'Show', @organization %> |
<%= link_to 'Back', organizations_path %>
