<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <%- if current_account.user  -%>
        <li><p class="navbar-text"><%= "Hello, #{current_account.user.first_name}" -%></p></li>
        <li><p class="navbar-text"><%= current_account.user.organization.name -%></p></li>
      <%- end -%>
      <%- unless current_account -%>
        <li><%= link_to 'Sign Up', new_account_registration_path  -%></li>
        <li><%= link_to 'Sign In', new_account_session_path -%></li>
      <%- end -%>
      <%- if current_account -%>
        <li><%= link_to 'Profile', edit_user_path(current_account.user) -%></li>
        <li><%= link_to 'Sign Out', destroy_account_session_path, method: :delete -%></li>
      <%- end -%>
    </ul>
  </div>
</nav>

<!--<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow z-depth-2">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="/" style="color: #fff">Get Paid</a>-->
    <!--</div>-->
    <!--<div id="navbar" class="collapse navbar-collapse">-->

      <!--<ul class="nav navbar-nav pull-right">-->
        <!--<%- if current_account.user  -%>-->
        <!--<li><p class="navbar-text"><%= "Hello, #{current_account.user.first_name}" -%></p></li>-->
          <!--<li><p class="navbar-text"><%= current_account.user.organization.name -%></p></li>-->
        <!--<%- end -%>-->
        <!--<%- unless current_account -%>-->
          <!--<li><%= link_to 'Sign Up', new_account_registration_path  -%></li>-->
          <!--<li><%= link_to 'Sign In', new_account_session_path -%></li>-->
        <!--<%- end -%>-->
        <!--<%- if current_account -%>-->
          <!--<li><%= link_to 'Profile', edit_user_path(current_account.user) -%></li>-->
          <!--<li><%= link_to 'Sign Out', destroy_account_session_path, method: :delete -%></li>-->
        <!--<%- end -%>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
  <!--</div>-->
<!--</nav>-->