<nav class="navbar navbar-inverse navbar-fixed-top nav-shadow">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color: #fff">Get Paid</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav pull-right">
        <li><p class="navbar-text" style="color: #b2dbfb"><%= "Hello, #{current_account.user.first_name}" if current_account.user -%></p></li>
        <%- unless current_account -%>
          <li><%= link_to 'Sign Up', new_account_registration_path  -%></li>
          <li><%= link_to 'Sign In', new_account_session_path -%></li>
        <%- end -%>
        <%- if current_account -%>
          <li><%= link_to 'Profile', edit_user_path(current_account.user) -%></li>
          <li><%= link_to 'Sign Out', destroy_account_session_path, method: :delete -%></li>
        <%- end -%>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>