<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' -%>
</head>
<body>
<%= render 'layouts/welcome_nav' -%>
<!--<p class="notice"><%= notice %></p>-->
<!--<p class="alert"><%= alert %></p>-->
<div class="top-20">
  <%= yield %>
</div>

</body>
</html>
